{% capture date %}{{ post.date }}{% endcapture %}
{% capture this_year %}{{ date | date: "%Y" }}{% endcapture %}
{% unless year == this_year %}
	{% assign year = this_year %}
	{% unless forloop.first %}
		</section>
	{% endunless %}
	<section class="archives"><h1 class="year">{{ date | date: "%Y" }}</h1>
{% endunless %}
<article>
	<h2 class="title"><a href="{{ root_url }}{{ post.url }}">{{post.title}}</a></h2>
	<div class="meta">
		<span class="date">{{ date | date: "%b %e" }}</span>
		<span class="tags">{% include post/categories.html %}</span>
	    {% if site.disqus_short_name and post.comments == true and site.disqus_show_comment_count == true %}
	    <span class="comments"><a href="{{ root_url }}{{ post.url }}#disqus_thread">Comments</a></span>
	    {% endif %}

	    <span class="comments"><a id="uyan_count_unit" href="{{ root_url }}{{ post.url }}#uyan_frame">0条评论</a><script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1743843"></script></span>
	</div>
</article>
